<section class="flex gap-2 justify-center">
  <div class="max-w-64">
    <input
      type="text"
      class="w-full rounded-full border border-gray-300 px-3 py-2 flex-1"
      [ngModel]="query()"
      (ngModelChange)="query.set($event)"
      placeholder="Search movies..."
    />
  </div>
  <button
    type="button"
    class="cursor-pointer rounded-full border px-3 py-1 text-sm font-medium
         dark:border-slate-300 dark:bg-slate-100 dark:text-slate-900
         shadow-sm transition-colors
         dark:hover:bg-slate-200 dark:hover:border-slate-400
         border-slate-600 bg-slate-900 text-slate-100
         hover:bg-slate-800 hover:border-slate-400
         focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-500/60 cursor-pointer
         disabled:bg-slate-400 disabled:border-transparent disabled:cursor-default
         dark:disabled:bg-slate-400 dark:disabled:border-transparent"
    (click)="onSearch()"
    [disabled]="!query()"
  >
    Search
  </button>
</section>
